@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f3f4f6;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

/* Ensure proper stacking context */
#__next {
  min-height: 100vh;
  isolation: isolate;
}

/* Fix for dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #f3f4f6;
    --foreground: #171717;
  }
}
